<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">WTag</ion-title>
    <ion-searchbar
      slot="secondary"
      [(ngModel)]="tags"
      (ionChange)="refresh()"
      debounce="500"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="openImageUploader()">
        <ion-icon icon="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row *ngFor="let row of images">
        <ion-col
          size="1"
          *ngFor="let image of row"
          class="image-column"
          (click)="openImageEditor(image)"
        >
          <ion-img
            class="image"
            [src]="image.baseUrl + '/' + image.hash + '.' + image.fileExt"
          ></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingText="Loading more images...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
