.image {
  width: 100%;
  height: 100%;
}

.image-column {
  padding: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 2px;
  transition: 100ms ease-in-out;
}

.image-column:hover {
  background-color: var(--ion-color-tertiary-shade);
  border: 1px solid var(--ion-color-tertiary);
  cursor: pointer;
}
