<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">WTag</ion-title>
    <ion-searchbar
      slot="secondary"
      [(ngModel)]="tags"
      (ionChange)="refresh()"
      debounce="500"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        <ion-icon icon="refresh" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="openSortPopover($event)">
        <ion-icon icon="funnel" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="openLogoutPopover($event)">
        <ion-icon icon="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-virtual-scroll
        [items]="images"
        approxItemHeight="150px"
        [trackBy]="track"
      >
        <ion-row *virtualItem="let row" [style.height]="100 / columns + 'vw'">
          <ion-col
            [size]="12 / columns"
            *ngFor="let image of row"
            class="image-column"
            (click)="openImageEditor(image)"
          >
            <ion-img
              class="image"
              [src]="
                image.baseUrl + '/' + image.hash + '-thumbnail.' + image.fileExt
              "
            ></ion-img>
          </ion-col>
        </ion-row>
      </ion-virtual-scroll>
    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingText="Loading more images...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="upload-fab" [class.hidden]="showUploader" (click)="openImageUploader()">
      <ion-icon icon="cloud-upload"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="uploader-container" [class.visible]="showUploader">
    <div class="uploader-inner">
      <h3 class="uploader-text">Uploading {{ uploadTotal }} {{ uploadImageOrImages }}, {{ uploadLeft }} left. {{ uploadETR }} more {{uploadMinuteOrMinutes}}.</h3>
    </div>
    <ion-progress-bar class="progress-bar" [value]="uploadProgress"></ion-progress-bar>
  </div>
</ion-content>
