<ion-header>
  <ion-toolbar>
    <ion-title>Edit Tags</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (keyup)="checkKeyboardInput($event)">
  <div class="top">
    <div class="image-wrapper">
      <img [src]="imageUrl" class="waifu" (click)="openLightbox()" />
    </div>
  </div>
  <div class="bottom">
    <div class="pane right">
      <ion-chip
        class="tag-chip"
        *ngFor="let tag of tags; let idx = index"
        color="secondary"
      >
        <ion-label>{{ tag }}</ion-label>
        <ion-icon name="close-circle" (click)="removeTag(idx)"></ion-icon>
      </ion-chip>
    </div>
    <div class="pane left">
      <ion-item class="add-input">
        <ion-label position="floating">+ Add Tag</ion-label>
        <ion-input
          #input
          [(ngModel)]="newTag"
          (ionChange)="updateSuggestedTags()"
          (keyup)="change($event)"
          autofocus="true"
        ></ion-input>
      </ion-item>
      <ion-list>
        <ion-item
          #suggestion
          button
          *ngFor="let tag of suggestedTags"
          (click)="chooseSuggestion(tag)"
          >{{ tag }}</ion-item
        >
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToPrevImage()">Previous</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToNextImage()">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
