<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Wtag Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "dark" >
  <ion-list inset="true">
    <ion-item color = "dark" >
      <ion-label>Username:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color = "dark" >
      <ion-label>Password:</ion-label>
      <ion-input type = "password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color = "primary">Login</ion-button>
  <ion-list>
    <ion-item color = "dark">
      <ion-label> Don't have an account? Register now!</ion-label>
      <ion-button color = "primary ">Register</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
