<div
  class="arrow-wrapper left"
  [class.hide]="hideNav"
  (click)="getPrev()"
  (mousemove)="revealNav()"
>
  <ion-fab-button class="arrow">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
</div>
<div class="image-wrapper">
  <img [src]="url" class="image" />
</div>
<div
  class="arrow-wrapper right"
  [class.hide]="hideNav"
  (click)="getNext()"
  (mousemove)="revealNav()"
>
  <ion-fab-button class="arrow">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-fab-button>
  <ion-ripple-effect type="unbounded"></ion-ripple-effect>
</div>
<input
  type="text"
  class="events"
  #events
  (keydown)="listener($event)"
  (blur)="refocus()"
  autofocus
/>
<ion-fab vertical="top" horizontal="end">
  <ion-fab-button size="small" color="light" (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </ion-fab-button>
</ion-fab>
