<ion-header>
  <ion-toolbar>
    <ion-title>Upload Image</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      class="drop-zone"
    >
      Drop files here...
    </div>

    <div class="add-files-button">
      <ion-button class="file-input-container">
        <label>
          <input
            type="file"
            ng2FileSelect
            [uploader]="uploader"
            multiple
            accept="image/png, image/jpeg"
          />
          Add Files
        </label>
      </ion-button>
    </div>

    <div class="files-list">
      <ion-list>
        <ion-reorder-group
          (ionItemReorder)="reorderFiles($event)"
          disabled="false"
        >
          <ion-item *ngFor="let item of uploader.queue">
            <ion-label>
              {{ item?.file?.name }}
            </ion-label>
            <ion-reorder></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </div>

    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="uploadAll()">
        <ion-icon icon="cloud-upload"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
