<ion-header>
  <ion-toolbar>
    <ion-title>Upload Image</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" icon="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div
      ng2FileDrop
      [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader"
      class="drop-zone"
    >
      <div class="instructions">
        <span class="drop-text">Drop files here...</span>
        <label for="upload" class="upload-label">
          Or browse images.
          <ion-ripple-effect></ion-ripple-effect>
        </label>
        <input
          #upload
          type="file"
          ng2FileSelect
          [uploader]="uploader"
          multiple
          accept="image/png, image/jpeg"
          id="upload"
        />
      </div>
    </div>

    <div class="add-files-area">
      <h3 class="to-upload">Files to upload: {{ uploader?.queue?.length }}</h3>
    </div>

    <div class="files-list">
      <ion-list>
        <ion-item *ngFor="let item of uploader.queue; let idx = index">
          <ion-label>
            {{ item?.file?.name }}
          </ion-label>
          <ion-button (click)="remove(idx)" fill="clear" color="light">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="uploadAll()">
      <ion-icon icon="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
