.drop-zone {
  background-color: var(--ion-color-dark);
  border: dotted 3px var(--ion-color-dark-tint);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.file-input-container {
  cursor: pointer;

  input[type='file'] {
    display: none;
  }
}

.nv-file-over {
  border: dotted 3px red;
}

.add-files-button {
  text-align: right;
}

.drop-text {
  padding: 10px;
}

.upload-label {
  display: inline-block;
  padding: 10px;
  background: var(--ion-color-primary);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: var(--ion-color-primary-shade);
  }
}

#upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.to-upload {
  padding: 10px 20px;
}
