<ion-header>
  <ion-toolbar color="primary">
    <ion-title> WTag </ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/login">Login</ion-button>
      <ion-button routerLink="/register">Register</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="centered">
      <div class="logo">
        <h1>WTag</h1>
      </div>
      <p>
        Hello! This is WTag. It's a work-in-progress image gallery and
        organization software. Anyone can host an instance and then connect to
        it from this app! Visit the
        <a href="https://github.com/danielnoon/wtag">GitHub</a> to get your
        hands on the source and host your own gallery!
      </p>
    </div>
  </div>
</ion-content>
