<ion-header>
  <ion-toolbar color="primary">
    <ion-title>WTag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-card class="main">
      <ion-card-header>
        <ion-card-title>Hello, there!</ion-card-title>
        <ion-card-subtitle>Register</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <form
          method="post"
          action="/register"
          (ngSubmit)="submit()"
          (keydown.enter)="submit()"
        >
          <ion-list inset="false">
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input [(ngModel)]="username" name="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                [(ngModel)]="password"
                type="password"
                name="password"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">API URL</ion-label>
              <ion-input [(ngModel)]="url" name="apiUrl"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Access Code</ion-label>
              <ion-input [(ngModel)]="accessCode" name="accessCode"></ion-input>
            </ion-item>
            <ion-item
              button
              detail
              detailIcon="log-in"
              color="primary"
              type="submit"
            >
              Register
            </ion-item>
          </ion-list>
        </form>
        <ion-item lines="none">
          <ion-label>Already have an account? Log In!</ion-label>
          <ion-button routerLink="/login">Log In</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
