<ion-header>
  <ion-toolbar>
    <ion-title>Register an account for WTag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input placeholder="Username"></ion-input>
  <ion-input placeholder="Password"></ion-input>
  <ion-input placeholder="Confirm Password"></ion-input>
  <ion-input placeholder="Access Code"></ion-input>
  <ion-button>Register</ion-button>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" size="small">Already have an account? Log in here!</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>



